@model Weat.Entities.DataModel.FRIDGE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FRIDGE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAMEFRIDGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAMEFRIDGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSON.FIRSTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSON.FIRSTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPEFRIDGE.CAPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPEFRIDGE.CAPTION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDFRIDGE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
