@model IEnumerable<Weat.Entities.DataModel.FRIDGE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAMEFRIDGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERSON.FIRSTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPEFRIDGE.CAPTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAMEFRIDGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERSON.FIRSTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPEFRIDGE.CAPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDFRIDGE }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDFRIDGE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDFRIDGE })
        </td>
    </tr>
}

</table>
